* {box-sizing:border-box;}
body {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 100;
	font-size: 16px;
}

article {
	/*background-color: #EFEFEF;*/
	background-color: purple;
	text-align: left;
	/*padding: 10px;*/
	/*border: 1px black solid;*/
	padding: 20px;
	padding-top: 0;
	font-size: 18px;
	line-height: 1.5em;
	margin: 1em;
	
}

/*.wrapper {
	background-color: white;
	width: 1200px;
	margin: 0 auto;
}
*/
nav {
	/*background-color: rgba(232,84,0,.6);*/
	background-color: #fff;
	/*border: 1px black solid;*/
	padding: 20px;
	float: right;
	opacity: 0.93;

}
nav a {
  background-color: #fff;
  color: #111;
  font-size: 1em;
  font-weight: bold;
  /*padding: 14px 10px;*/
  padding: 20px;
  text-transform: none;
  text-decoration: none;
  /*text-align: center;*/
}

a:hover {
	/*background-color: rgba(232,84,0,.8);
	color: #fff;*/
	color: orange;
}

header {
	/*background: url(../images/student_ling_lab_bw.png) no-repeat center center;*/

	background: url(../images/alice-text-blue.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	/*padding: 50px 0;*/
}

/*.jumbotron {
	background: url(../images/eyetrack.png) no-repeat center center;
	background-size: cover;
	height: 600px;
	padding-top: 25px;
	margin-bottom: 0;
}*/

.title {
	background-color: rgba(48,59,69,.6);
	margin-top: 85px;
}

h1 {
	color: orange;
	font-size: 4em;
	line-height: 1em;
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: left;
	font-weight: 200;
}

#slogan {
	font-size: 1.5em;
	padding-bottom: 20px;
	color: #fff;
	line-height: 1.2em;
	padding-left: 35px;
}

header h1 {
	color: #ffffff;
	font-size: 70px;
	position: relative;
	/*background-color: rgba(0,0,0,.7);*/
	background-color: rgba(52,53,54,.6);
	max-width: 100%;
	line-height: 100px;
	margin-top: 0;
	margin bottom: 80px;
	text-transform: uppercase;
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
}

img {
	display: block;
	width:100%;
}

label {
	display:none;
}

section {
	background-color: red;
	text-align: center;
	/*border: 1px black solid;*/
	padding: 0 0 20px 0;
	/*margin-bottom: 50px;*/
	width: 93%;
	/*width: 550px;*/
	margin: 10px auto;
}

footer {
	color: #f8f8f8;
    background-color: #A9A9A9;
    padding: 40px;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
}


/* ----------------------------------------------------- main classes */

/*.boxes {
	width:1000px;
	margin: auto;
}*/

.box {
	/*width: 132px;*/
	width: 100%;
	/*width: 40%;*/
	min-width: 110px;
	/*min-width: 132px;*/
	position: relative;
	float: left;
	margin: 10px;
	/*margin: 20px 25px;*/
	/*text-align: center;*/
	background-color: black;
	margin-top: 25px;
}

/*.box img {
	width: 100%;
}*/


.box img {
	width: 95%;
	min-width: 100px;
	margin: 0 auto;
	padding: 1%;
	background-color: green;
}
.box h3 {
	/*position: absolute;*/
	/*top: 70%;*/
	/*left: 0;*/
	/*height: 10%;*/
	width: 100%;
	/*background-color: rgba(232,84,0,.6);*/
	margin: 20px 0;
	padding: 0 0 20px 0;
	color: #58585b;
	letter-spacing: 2px;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300;
}


.box p{
	display: none;
	position: absolute;
	top:140px;
	left:0;
	line-height: 1.5em;
	padding: 5px;
	/*background-color: rgba(0, 0, 0, 0.701961);*/
	background-color: #fff;
	color: #000;
	margin-top: 20px;
	width: 100%;
	font-size: 1em;
}

.box:hover > p {
	display:block;
}

.btn {
  color: #fff;
  display: block;
  width:180px;
  margin:100px auto 0;
  padding: 10px 40px;
  text-decoration: none;
  border: 2px white solid;
}

.btn:hover {
  background: rgba(55,116,154,.6);
  cursor: pointer;
  transition: background .5s;
}



.container {
	margin: 0 auto;
	/*max-width: 1100px;*/
	max-width: 100%;
	/*padding: 0 10px;*/
}

.column {
	float: left;
	width: 30%;
	/*height: 300px;*/
	padding: 10px;
	/*margin: 10px 2%;*/
	margin: 22px;
	background-color: yellow;
	/*background-color: #EFEFEF;*/
}
.column h3 {
	/*background-color: rgba(232,84,0,.8);*/
	/*background-color: rgba(55,116,154,.7);*/
	color: orange;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 1.5em;
	/*padding-left: .5em;*/
	text-transform: none;
	font-weight: 400;
	margin-bottom: 25px;

}
.column h4 {
	font-weight: 300;
}

.column p {
	font-size: .8em;
	padding-bottom: 10px;
}

.column a {
	text-decoration: none;
}

.intro-image {
	width: 92%;
	background-color: yellow;
	padding: 20px;
	padding-top: 0;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.bottom {
	/*background-color: #5b5b5d;*/
	color: #8e8e8e;
	width: 100%;
	margin-top: 1em;
	text-align: center;

}

.wrapper {
	width: 100%;
	background-color: #fff;
	/*background-color: green;*/
	margin: 0px auto;
}


/* ----------------------------------------------------- index ID's*/

#intro-image {
	float: left;
	margin-right: 10px;
}

#top-header{
	padding:10px 0;
}

#top-header img {
	width: 100px;
	float: left;
}

#toggle {
	display:none;
}

#ucla {
	font-size: 1em;
	font-weight: 500;
	letter-spacing: .5px;
	padding-right: 14px;
	float: left;
}


#welcomenote {
	/*background-color: rgba(55,116,154,.6);*/
	/*background-color: rgba(68,68,68,.4);*/
	
	/*background-color: rgba(235,234,233,.8);*/
	text-align: left;
	/*color: #58585b;*/
	color:#111;
	font-size: 20px;
	line-height: 1.5em;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
	/*margin: 3em;*/
	font-weight: 300;
}

#welcomenote h3 {
	font-size: 1.5em;
	padding-bottom: 20px;
}

/* ----------------------------------------------------- media queries */

@media screen and (max-width:780px){

	div {
		display: block;
	}

	nav {
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 0;
		height: 70px;
		text-align: center;
		font-size: .8em;
	}

	header h1 {
		font-size: 2em;
	}

	header {
	/*background: url(../images/alice-text-blue.png) no-repeat;*/
	text-align: center;
	max-width: 780px;
	/*padding: 50px 0;*/
	}

	.jumbotron {
	/*background: url(../images/alice-text-blue.png) no-repeat;
	max-width: 780px;*/
	}

	.box img {
	width: 40%;
	min-width: 126px;
	margin: 0 auto;
	padding-top: 10%;
	}

	.box {
	/*width: 132px;*/
	width: 27%;
	min-width: 132px;
	position: relative;
	float: left;
	margin: 15px;
	/*margin: 20px 25px;*/
	/*text-align: center;*/
	background-color: #fff;
	margin-top: 25px;
	}

	#ucla {
		float: none;
		margin: auto;
		height: 20px;
		width: 100%;
		padding: 10px 0 14px 0;
		font-size: 1em;
	}

	
	
	

	#welcomenote {
		text-align: left;
		font-size: 1em;
		line-height: 1.5em;

	}

	#welcomenote h3 {
		text-align: center;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:675px){

	div {
		display: block;
	}

	nav {
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 0;
		height: 70px;
		text-align: center;
		font-size: .8em;
	}

	header h1 {
		font-size: 1.5em;
	}

	header {
	/*background: url(../images/alice-text-blue.png) no-repeat;*/
	text-align: center;
	max-width: 780px;
	/*padding: 50px 0;*/
	}

	/*.jumbotron {
		background: url(../images/alice-text-blue.png) no-repeat;
		max-width: 100%;
		text-align: left;
		height: 200px;
	}*/

	.box img {
	width: 40%;
	min-width: 126px;
	margin: auto;
	padding-top: 10%;
	}

	.box {
	/*width: 132px;*/
	width: 15%;
	min-width: 132px;
	position: relative;
	float: left;
	margin: 10px;
	/*margin: 20px 25px;*/
	/*text-align: center;*/
	background-color: #fff;
	margin-top: 25px;
	}

	#ucla {
		float: none;
		margin: auto;
		height: 20px;
		width: 100%;
		padding: 10px 0 14px 0;
		font-size: 1em;
	}

	#welcomenote {
	/*background-color: rgba(55,116,154,.6);*/
	/*background-color: rgba(68,68,68,.4);*/
	background-color: rgba(52,53,54,.6);
	/*background-color: rgba(235,234,233,.8);*/
	text-align: center;
	/*color: #58585b;*/
	color:#fff;
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 300;
	text-align: left;
	margin-top: 180px;

	}

	#welcomenote h3 {
		text-align: center;
		margin-bottom: 20px;
	}
}


@media screen and (max-width:634px){
	

	.box img {
	width: 100%;
	min-width: 126px;
	margin: auto;
	padding-top: 10%;
	}

	.box {
	/*width: 132px;*/
	width: 10%;
	min-width: 132px;
	position: relative;
	float: left;
	margin: 10px;
	/*margin: 20px 25px;*/
	/*text-align: center;*/
	background-color: yellow;
	margin-top: 25px;
	}

}

@media screen and (max-width:643px){

	div {
		display: block;
	}

	nav {
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 0;
		height: 70px;
		text-align: center;
		font-size: .8em;
	}

	header h1 {
		font-size: 1.5em;
	}

	header {
	background: url(../images/alice-text-blue.png) no-repeat;
	text-align: center;
	max-width: 780px;
	/*padding: 50px 0;*/
	}

	.box img {
	width: 40%;
	min-width: 126px;
	margin: auto;
	padding-top: 10%;
	}

	.box {
	/*width: 132px;*/
	width: 100%;
	min-width: 132px;
	position: relative;
	float: left;
	margin: 15px;
	/*margin: 20px 25px;*/
	/*text-align: center;*/
	background-color: #fff;
	margin-top: 25px;
	}

	#ucla {
		float: none;
		margin: auto;
		height: 20px;
		width: 100%;
		padding: 10px 0 14px 0;
		font-size: 1em;
	}

	#welcomenote {
	/*background-color: rgba(55,116,154,.6);*/
	/*background-color: rgba(68,68,68,.4);*/
	background-color: rgba(52,53,54,.6);
	/*background-color: rgba(235,234,233,.8);*/
	text-align: center;
	/*color: #58585b;*/
	color:#fff;
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 300;
	text-align: left;
	margin-top: 180px;

	}

	#welcomenote h3 {
		text-align: center;
		margin-bottom: 20px;
	}
}

/*@media screen and (max-width:801px){
	label {
		display: block;
		text-align: center;
		margin: 20px 0 0;
	}

	nav {
		display: none;
	}



	nav a {
		display: block;
		text-align: center;
		width: 25%;
		margin: 20px auto;
	}

	nav a:active {
		background-color: yellow;
	}

	#toggle:checked + nav {
		display: block;
	}
}*/

/*@media screen and (max-width: 660px){
	label {
		display: block;
		text-align: right;
		margin: 20px 5px 0;
		color: rgb(232,84,0);
		font-size: 1em;
		text-decoration: none;
	}
}*/



/*header {
	background-color: #fafafa;
	padding: 100px 0 0;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}*/

/*.overlay {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(232,84,0,.4);
	top:0;
	left:0;
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-decoration: none;
}*/


/*
.overlay {
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(232,84,0,.6);
	position: absolute;
	top:0;
	left:0;
	text-align: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-decoration: none;
}
*/

/*.columns p {
	background-color: orange;
	color: #ffffff;
}
*/

/*
#slogan {
	color: #fff;
	font-size: 30px;
	font-weight: 200;
	background-color: rgb(91,91,93);
	padding: 20px;
}
*/