body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
header {
	/*background-color: #fafafa;
	padding: 100px 0 0;*/
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "hello";
  clear: both;
  height: 0;
} 

#top-header img {
	width: 100px;
	float: left;
}
#wrapper {
	background-color: white;
	width: 1200px;
	margin: 0 auto;
}
nav {
	/*background-color: rgba(232,84,0,.6);*/
	background-color: #fff;
	/*border: 1px black solid;*/
	padding: 20px;
	float: right;
	
}
nav a {
  background-color: #fff;
  color: gray;
  font-size: 12px;
  font-weight: bold;
  /*padding: 14px 10px;*/
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  /*text-align: center;*/
}

a:hover {
	background-color: rgba(232,84,0,.8);
	color: #fff;
}
	
.container {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 10px;
}

header {
	background: url(../images/student_ling_lab_bw.jpg) no-repeat center center;
	background-size: cover;
	height: 800px;
	text-align: center;
	padding: 50px 0;
}
header h1 {
	color: #ffffff;
	font-size: 90px;
	position: relative;
	line-height: 100px;
	margin-top: 0;
	margin bottom: 80px;
	font-family: 'Oswald', sans-serif;
}
#slogan {
	color: #fff;
	font-size: 30px;
	font-weight: 200;
}

.btn {
  color: #fff;
  background: rgba(55,116,154,.6);
  padding: 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(55,116,154);
  cursor: pointer;
  transition: background .5s;
}
#welcomenote {
	/*background-color: rgba(55,116,154,.8);*/
	background-color: rgba(104,116,127,.8);
	text-align: left;
	color: #fff;
	font-size: 18px;
	line-height: 1.5em;
	height: 170px;
	max-width: 100%;
	padding-left: 20px;
	padding-top: 20px;
	/*margin: 3em;*/
	margin-top: 370px;
}

section {
	background-color: white;
	text-align: center;
	/*border: 1px black solid;*/
	padding: 20px;
}
.box {
	/*background-color: white;*/
	/*color: black;*/
	width: 300px;
	position: relative;
	display: inline-block;
	margin: 20px 20px 20px 5px;
	/*margin: auto;*/
	/*text-align: center;*/
}
.box img {
	width: 100%;
}
.box h3 {
	position: absolute;
	top: 70%;
	left: 0;
	height: 10%;
	width: 100%;
	background-color: rgba(232,84,0,.6);
	margin-bottom: 0px;
	padding: 5px 0;
	color: white;
	letter-spacing: 2px;
	font-size: 16px;
	text-decoration: none;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.overlay {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(232,84,0,.4);
	top:0;
	left:0;
	text-align: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-decoration: none;
}
img {
	display: block;
	width:100%;
}

/*
.overlay {
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(232,84,0,.6);
	position: absolute;
	top:0;
	left:0;
	text-align: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-decoration: none;
}
*/
.box:hover > .overlay {
	display:block;
}


/*.columns p {
	background-color: orange;
	color: #ffffff;

}
*/
.current {
	background-color: #F4F4F4;
	text-align: left;
	/*padding: 10px;*/
	border: 1px black solid;
	padding: 20px;
	font-size: 18px;
	line-height: 1.5em;
	margin: 3em;
}
.column {
	float: left;
	width: 560px;
	height: 300px;
	padding: 20px;
	margin: 0;
}
#column1 {
	background-color: #AC54FF;
}
#column2 {
	background-color: #5485FF;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*
#research {
	background: url(../images/chomsky-office-1.png);
	background-repeat: no-repeat;
	text-align: center;
	height: 300px;
	margin: 20px;
}
#research h3 {
	background-color: orange;
	color: white;
	width: 350px;
}
#people {
	background: url(../images/staff-large.png);
	background-repeat: no-repeat;
	height: 300px;
}
#people h3 {
	background-color: orange;
	color: white;
	width: 350px;
}
#opportunities {
	background: url(../images/lab-test.png);
	background-repeat: no-repeat;
	text-align: center;
	height: 300px;
}
#opportunities h3 {
	background-color: orange;
	color: white;
	width: 350px;
}
#apply {
	background: url(../images/typing-4.png);
	background-repeat: no-repeat;
	text-align: center;
	height: 300px;
}
#apply h3 {
	background-color: orange;
	color: white;
	width: 350px;
}
*/
	
/*#welcomenote {
	background-color: #565656;
	text-align: center;
	color: white;
}*/
